<html>
    <body onload="loadUI()">
        <p>ml</a></p>
    </body>
</html>
<script>
    var response_init = '<%-data%>'
    function loadUI()
    {
        console.log(response_init);
    }
</script>